@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');
/* 
font-family: "Fira Sans", serif; 300, 400, 900 для заголовков
font-family: "Secular One", serif; 400 лого
font-family: "PT Sans", serif; 400 тексты

  */

body {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-size: 14px;
    z-index: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.btn {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;

  padding: 10px 20px;
  border: 2px solid white;

  transition: opacity 0.2s;
}

.btn:hover{
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}


/*! HEADER  */

.header {
  
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 100px;
  grid-template-areas: "logo nav search"; /* даем каждой ячейке имя*/

  align-items: center;
  justify-items: start;

  padding: 15px 0;

  text-transform: uppercase;

  /* !grid-template: "logo nav search" max-content / 1fr 1fr 100px; Можно переписать в одну строчку */

  overflow: hidden;
}



.logo {
  grid-area: logo;

  font-family: "Secular One", serif;
  font-weight: 400;
  color: #FF4747;
  font-size: 24px;
  width: 150px;
  line-height: 1;

  justify-self: end;
}

.header__nav {
  grid-area: nav;
}

.header__nav ul {
  display: flex;
  gap: 30px;
}


.header__nav a {
  padding: 15px; /*Тепеь радиус нажатия ссыылок больше*/

  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

.header__nav a:hover {
  color: #01BCB5;

}

.header__nav a:active {
  color: #01A7A1;
}

.header__nav a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color:#01BCB5;

  position: absolute;
  left: 15px;
  bottom: -200%;

  transition: bottom 0.4s, background-color 0.3s;
}

.header__nav a:hover::after {
  bottom: -80%;
}

.header__nav a:active::after {
  background-color:#01A7A1;
}

.search {
  grid-area: search;
}

.search__icon {
  transition: fill 0.3s;
}

.search__icon:hover {
  fill: #01BCB5;
}

.search__icon:active {
  fill: #01A7A1;
}



/*! MAIN */


.main {
  display: grid;
  
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-areas: "slider-arrows healthy thirsty thirsty"
                        "slider-arrows healthy slider-dots orange"
                        "freshy healthy slider-dots orange";
}

/*! SLIDER-ARROWS */


.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
}

.slider-arrows__items-wrapper {
  width: 100%;
  height: 100%;

  filter: brightness(80%);

  display: flex;

  object-fit: cover;
}

.slider-arrows__nav {
  position: absolute;
  left: 0;
  top: 50%;

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  transform: translateY(-50%); /*Относительно своей высоту возвращаем на 50% то есть на 25px т.к. всего 50*/
}

.slider-arrows__arrow {
  color: white;
  font-size: 22px;
  border: 2px solid white;
  border-radius: 50%;

  width: 50px;
  height: 50px;

  transition: opacity 0.2s;
}

.slider-arrows__arrow:hover{
  opacity: 0.8;
}

.slider-arrows__arrow:active {
  opacity: 0.6;
}


/*! Slider-dots */


.slider-dots {
  grid-area: slider-dots;
  position: relative;
}


.slider-dots__items-wrapper {
  width: 100%;
  height: 100%;

  filter: brightness(80%);

  display: flex;

  object-fit: cover;
}

.slider-dots__item {

}

.slider-dots__btn-wrapper {
  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-50%);
  
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-dots__btn {
  
}

.slider-dots__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 8px;

  position: absolute;
  left: 0;
  bottom: 45px;
}

.slider-dots__nav-item {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;

  transition: opacity 0.2s;
}

.slider-dots__nav-item:hover{
  opacity: 0.8;
}

.slider-dots__nav-item:active{
  opacity: 0.6;
}

.slider-dots__nav-item--active {
  background-color: transparent;
  border: 1px solid white;
  cursor:default;
}

.slider-dots__nav-item--active:hover {
  opacity: 1;
}

.slider-dots__nav-item--active:active {
  opacity: 1;
}